select.form-control:not([size]):not([multiple]) {
	height: auto;
}

.title{
	color: #f7f7f7;
	text-align: center;
	height: 33%;
	margin-bottom: 15px;
}

.sub-title{
	color: #f7f7f7;
	text-align: center;
	height: 33%;
	margin-bottom: 20px 0px 20px 0px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.txt-color{
	color: #f7f7f7;
	font-weight: bold;
	font-size: 20px;
}

.home-input-box{
	background-color: #00293D;
	color:#FFFEFD;
	font-weight: bold;
	font-size: 25px;
}

.data-box{	
	background-color: #014165;
	color:#FFFEFD;
	font-weight: bold;
	font-size: 25px;
}

.transparent {
	background: none;
}


$topnav-background-color: #222;
:host {
    display: block;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /*background: $topnav-background-color;*/
    /* The image used */
	background-image: url("../../../assets/bg_home.jpg");
    /*text-align: center;*/
    color: #fff;
    padding: 3em;
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}
