 <div class="app-content">
	<img src="../../assets/images/sb_logo.png" alt="SB" style="margin-bottom: 15px;margin-top:35px;width:27%">
	<mat-card class="example-card">
	 <mat-card-header>
    	<mat-card-title><h1 class="smartRemitCls">SmartRemit </h1></mat-card-title>
    	<mat-card-subtitle><h4 class="bankNameCls" >By- Southeast Financial Services UK Ltd.</h4></mat-card-subtitle>
    	<mat-card-subtitle><h2 class="subDiv">1 GBP = {{sellRate}} BDT</h2></mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	  	<form [formGroup]="homeForm" class="example-form">
	  		<label>Beneficiary gets</label>
		  <mat-form-field class="example-full-width">
		    <input matInput type="number">
		  </mat-form-field>

		  <mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

	  		<label>You pay</label>
			  <mat-form-field class="example-full-width">
			    <input matInput type="number">
			  </mat-form-field>
		</form>
	  </mat-card-content>
	  <mat-card-actions>
	  </mat-card-actions>
	</mat-card>

</div>
<!-- <ons-page modifier="full_bg">
	<div class="background"></div>
		
	<div class="content">
		<div class="imagesetDiv">
			<img src="assets/images/sb_logo.png" alt="SB" style="margin-bottom: 15px;margin-top:35px;width:27%">
		</div>

		<div>
			<h1 class="smartRemitCls">SmartRemit </h1>
		</div>
		<div>
			<h4 class="bankNameCls" >By- Southeast Financial Services UK Ltd.</h4>
		</div>

		<div class="subDiv">
			<h2 class="subDiv">1 GBP = {{sellRate}} BDT</h2>
		</div>
		<div layout="row" layout-align="center">
			<p>
				<ons-input id="foreign" modifier="underbar" type="number" placeholder="Beneficiary gets"  [(ngModel)] = "foreignAmount" float></ons-input>
				<ons-select [(ngModel)]="selectedModifier" [attr.modifier]="selectedModifier">
			  <option *ngFor="let modifier of modifiers" [value]="modifier.value">
				{{ modifier.label }}
			  </option>
			</ons-select>
			</p>
			<p>
				<ons-input id="local" modifier="underbar" type="number" placeholder="You pay" [(ngModel)] = "localAmount" float></ons-input>
				<ons-select [(ngModel)]="selectedModifier" [attr.modifier]="selectedModifier">
					<option *ngFor="let modifier of modifiers" [value]="modifier.value">
				{{ modifier.label }}
			  </option>
			</ons-select>
			</p>
		</div>
	</div>
	<div style="text-align: center; margin: 10px;">
		<ons-button modifier="large" ripple style="color: pink; position: absolute;bottom:0; left:0;" (click)="onClick()">Get Started</ons-button>
	</div>
</ons-page> -->

<!-- <h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]="homeForm">
<div formGroupName="address" class="well well-lg">
  <h4>Secret Lair</h4>
  <div class="form-group">
    <label class="center-block">Street:
      <input class="form-control" formControlName="street">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">City:
      <input class="form-control" formControlName="city"> &nbsp;
      <select class="form-control" formControlName="ccy_code">
          <option *ngFor="let ccy_code of ccy_codes" [value]="ccy_code">{{ccy_code}}</option>
      </select>
    </label>
  </div>
<div class="form-group">
    <label class="center-block">State:
      <select class="form-control" formControlName="ccy_code">
          <option *ngFor="let ccy_code of ccy_codes" [value]="ccy_code">{{ccy_code}}</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Zip Code:
      <input class="form-control" formControlName="zip">
    </label>
  </div>
</div>

  <div class="form-group radio">
    <h4>Super power:</h4>
    <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
    <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
    <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
  </div>
</form>

<p>Name value: {{ homeForm.get('name').value }}</p>
<p>Street value: {{ homeForm.get('address.ccy_code').value}}</p>
<p>Form value: {{ homeForm.value | json }}</p> -->